@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Outfit:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #FFC570;
  --color-secondary: #547792;
  --color-accent: #1A3263;
  --color-cream: #EFD2B0;
}

@layer base {
  body {
    @apply bg-[--color-cream] text-[--color-accent] transition-colors duration-300;
  }
  .dark body {
    @apply bg-[--color-accent] text-[--color-cream];
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out forwards;
}
